@model proba.EntityFramework.CarType

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@section admin
{
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend style="text-align:center">Típus szerkesztése</legend>

            @Html.HiddenFor(model => model.id)

            <div class="editor-label">
                <p>Típus</p>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.cartype1)
                @Html.ValidationMessageFor(model => model.cartype1)
            </div>

            <div class="editor-label">
                <p>Gyártó</p>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CarName.carname1)
                @Html.ValidationMessageFor(model => model.CarName.carname1)
            </div>

            <p>
                <input type="submit" value="Szerkeszt" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Vissza", "CarTypeIndex")
    </div>
}